.cover_image{
  width: 80vw;
  height: 90vh;
  background-repeat: no-repeat;
  
}
.cover_link{
color: black;
font-size: xx-large;
margin: auto;
}
.artist_image{
  margin: auto;
  width:50%;
  height: 400px;
}.artist{
  text-align: center;
  font-size: xx-large;
  
}.name_link{
  color: black;
  font-size: bold;
  font-size: xx-large;
}.artist_details{
  text-align: center;
}